div.container {
  padding: 2.875em 1.875em 1.875em;
}


body {
  font-family: "Lato", sans-serif;
  top: 100px;

}

div.main {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: block;
}

h1 {
  color: #47a3da;
  text-align: left;
  margin-left: 5%;
}

span { /*blueprint*/
  color: #47a3da;
  text-align:left;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 5%;
}


a.bp-icon- {
  display: inline-block;
  float: right;
}


div.cbp_tmlabel {
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 25%;
  background-color: #6cbfee;
}

.cbp_tmtimeline > li {
  position: relative;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { /*TITLE LINE*/
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding: 0 0 10px 0;
}

ul.cbp_tmtimeline  { /*FULL BOX WITH ALL TEXT*/
  float: right;
  display: block;
  vertical-align: top;
  width: 100%;
  color: #ffffff;
  padding: 10px;
}

time.cbp_tmtime {
  display: inline-block;
  float: left;
  background: white
  color: #3594cb;
}

/*.cbp_tmtimeline {
  margin: 30px 0 0 0;
  position: relative;
}*/



/*div.cbp_tmlabel:nth-child(2n+1) {(JUSTBOX)
display: block;
position: absolute;
left: 100px;
width: 600px;
}*/

/*:nth-child(2n+1) ..to change the colors*/

/*time.cbp_tmtime (time and date) parent of 2 span elements: date and time
display: inline block;
width: ;
height: 17px 29px;
vertical-align: top;
width: %;
float??: left*/
/*.cbp_tmtimeline > li:nth-child(2n+1) .cbp_tmtime span:last-child {
  display: inline-block;
  vertical-align: top;
  float: left;
}*/


/*h2 (main headings)
height: 43px;

p (paragraphs)
display: block;

colors: #3594cb (light blue), #47a3da (dark blue), #bdd0db (light grey)*//*/
