/*color of font #47a3da*/

/*.cbp-ntaccordion .cbp-nttrigger { FOR ALL HEADINGS AND SUBHEADINGS
  color: #47a3da;
}*/


h1 {
    color: #7ECCC4;
    font-size: 50pt;
    font-family: Helvetica;
  }

.cbp-ntaccordion h3 {
    font-family: Arial, Verdana, sans-serif;
    color: #ADCC7E;
    font-size: 30pt;
    }

p {
  font-family: Arial, Verdana, sans-serif;
  font-size: 14pt;
  }

h4 {
    font-family: Arial, Verdana, sans-serif;
    color: #9D7ECC;

  }

h5 {
    font-family: Arial, Verdana, sans-serif;
    color: #CC7E86;
    }
