/*color of font #47a3da*/

/*.cbp-ntaccordion .cbp-nttrigger { FOR ALL HEADINGS AND SUBHEADINGS
  color: #47a3da;
}*/


h3::before {  /* make arrows work */
  content: '\27b5';
  color: #D0D2D6;
  margin: 5px;
  }


h3:hover::before {
  content: '\27b4';
  color: cornflowerblue;
  margin: 5px;
  }


  h4::before {  /* make arrows work */
    content: '\27b5';
    color: #D0D2D6;
    margin: 5px;
    }


  h4:hover::before {
    content: '\27b4';
    color: cornflowerblue;
    margin: 4px;
    }



h1 {
    color: #7ECCC4;
    font-size: 50pt;
    font-family: Helvetica;
  }

.cbp-ntaccordion h3 {
    font-family: Arial, Verdana, sans-serif;
    color: cornflowerblue;
    font-size: 30pt;
    }

p {
  font-family: Arial, Verdana, sans-serif;
  font-size: 14pt;
  }

h4 {
    font-family: Arial, Verdana, sans-serif;
    color: cornflowerblue;

  }

h5 {
    font-family: Arial, Verdana, sans-serif;
    color: cornflowerblue;
    }
