h1 {
    color: #7ECCC4;
    font-size: 50px;
    font-family: Helvetica;
  }

h3 {
    font-family: Arial, Verdana, sans-serif;
    color: #ADCC7E;
    font-size: 30px;
    }

p {
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  }

h4 {
    font-family: Arial, Verdana, sans-serif;
    color: #9D7ECC;

  }

h5 {
    font-family: Arial, Verdana, sans-serif;
    color: #CC7E86;
    }
