/* grid based layout */
body {
  font-family: "Lato", sans-serif;
  color: #47a3da;
}

.clearfix, .main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 46px 30px 30px 30px;
}

header {
  font-size: 17px;
}

header span {
  text-transform: uppercase;
  letter-spacing: 5px;
}

header nav {
  display: inline-block;
  float: right;
}

.cbp-vm-switcher ul {
  padding: 0px;
  clear: both;
}

.cbp-vm-view-grid li {
  /* set up grid */
  float: left;
  width: 33.3%;
  list-style-type: none;
  text-align: center;
}

*, *::after, *:before {
  /*now setting a width, the element stays that width despite padding/borders being applied to it */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

li {
  /* STYLES applied fixed padding to right side of all columns except the last one */
  margin-top: 20px;
  padding: 25px;
}

.cbp-vm-switcher ul:last-of-type {
  padding-right: 0;
}

.cbp-vm-switcher {
  /*line below icons*/
  padding: 18px;
  border-bottom: 3px solid #47a3da;
}

.main {
  /* STYLES adding padding to the grid parent*/
  padding: 0px 30px 50px 30px;
  border: 3px solid #47a3da;
}

.cbp-vm-options .cbp-vm-icon {
  /* grid icons */
  text-align: right;
  padding-bottom: 10px;
  font-family: 'fontawesome';
  font-size: 30px;
  display: inline-block;
}

.cbp-vm-grid::before {
  content: "\f00a";
  right: 100%;
  font-family: "fontawesome";
  color: #47a3da;
  font-size: 30px;
  text-align: right;
}

.cbp-vm-list::before {
  content: "\f00a";
  right: 100%;
  font-family: "fontawesome";
  color: #d0d0d0;
  font-size: 30px;
  text-align: right;
}

.cbp-vm-view-list li {
  /* set up list */
  position: relative;
  display: block;
  list-style-type: none;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.cbp-vm-view-list li a.cbp-vm-image > img {
  display: inline-block;
  width: 10%;
}

.cbp-vm-view-list li h3.cbp-vm-title {
  display: inline-block;
  font-size: 16pt;
  padding-right: 10px;
  padding-left: 10px;
}

.cbp-vm-view-list li div.cbp-vm-price {
  display: inline-block;
  color: #c0c0c0;
  font-size: 16pt;
  width: 10%;
}

.cbp-vm-view-list li div.cbp-vm-details {
  display: inline-block;
  width: 30%;
  white-space: normal;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15pt;
}

a.cbp-vm-add {
  display: inline-block;
  color: #ffffff;
  background-color: #47a3da;
  font-size: 15pt;
  box-sizing: border-box;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

/* SET MIN HEIGHT TO FIX BOXES
 * ICONS- @FONT-FACE
   - .OPTIONS .ICONS : FONT-SIZE 0 (TURN OFF TEXT)
 * .cbp-vm-view-grid li (grid setup)
    * .viewgrid li > a.image > img
    * .viewgird li > h3.title




[class*='col-'] { /* selects all columns and makes them next to each other */
.grid::after {
  /* clearing context. parent el collapses to 0 since it has floated children. */
  content: "";
  display: table;
  clear: both;
}

*, *::after, *:before {
  /*now setting a width, the element stays that width despite padding/borders being applied to it */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  /* applied fixed padding to right side of all columns except the last one */
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.grid-gutters {
  /*adding left padding to the grid parent*/
  padding: 20px 0 20px 20px;
  background-color: #ffffff;
}

.grid-gutters > [class*='col-']:last-of-type {
  /*restore right padding to the last column*/
  padding-right: 20px;
}
