@media only screen and (min-device-width: 480px){







.cbp-mc-form input, .cbp-mc-form textarea, .cbp-mc-form select {
    /*border: 2px solid #ffffff;*/
    padding: 1px;
    background: #47a3da;
    width: 100%;
    text-align: start;
    }



.cbp-mc-submit-wrap {
  width: 522px;
  height: 97px;
  text-align: center;
}


input.cbp-mc-submit { /* SUBMIT BUTTON */
  background-color: #10689a;
  text-align: center;
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 11px;
  max-width: 30%;
  text-transform: uppercase;
  padding: 20px 15px;

}
}
