@media only screen and (min-device-width: 320px){

.cbp-mc-column {
    max-width: 568px;
    min-width: 320px;
    content: " ";
    display: table;
    clear: both;
    /*width : 100% ??*/
    /*float: left ??*/
  }


header.clearfix {
    text-align: center;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 20px;
    }

span { /* blueprint and icons */
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 6px;
        }


  body {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
        top: 40px;
        bottom: 40px;
        display: block;
        box-sizing: border-box;
        vertical-align: center;
        }


  form.cbp-mc-column {
      display: block;
      text-align: left;
      background: #47a3da;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      clear: both;
      border: 3px solid #ffffff;
      box-sizing: border-box;
  }


  div.cbp-mc-column {
        align-content: center;
        box-sizing: border-box;
        display: block;
        text-transform: uppercase;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 35px;
        background: #47a3da;
        font-size: 21px;
        letter-spacing: 1px;
        font-family: 'Lato', sans-serif;

      }



.cbp-mc-submit-wrap {
  margin-left: 17%;
  margin-right: 2%;
  width: 90%;
  height: 97px;
  text-align: center;
  display: inline-block;
  clear: both;
}


input.cbp-mc-submit {
  background-color: #10689a;
  text-align: center;
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 20px;
  width: 100%; /*need*/
  text-transform: uppercase;
  padding: 20px 15px;
  }
}
