form.cbp-mc-form {
    display: table;
    text-align: left;
    background: #47A3C4;
    position: relative;
    }


body {
      width: 90%
      font-family: Helvetica;
      color: #ffffff;
      background: #47A3C4;
      text-align: center;
      }


h1 {
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: Helvetica;
    background: #47A3C4;
    }

span.bp-icon .bp-icon-about {
      text-align: center;
      color: #ffffff;
      font-family: Helvetica;
      }


div.cbp-mc-column { /**the capital headings**/
      display: block;
      text-transform: uppercase;
      color: #ffffff;
      background: #47A3C4;
      font-size: 15px;
      letter-spacing: 1px;
      font-family: arial;
      }


.cbp-mc-form input, .cbp-mc-form textarea, .cbp-mc-form select {
    border: 2px solid #ffffff;
    padding: 1px;
    background: #47A3C4;
    width: 100%;
    text-align: start;
    }



select { /*drop-down*/
  background: #47A3C4;
  color: #ffffff;
}

input[type="text"] {
  width: 100%
  line-height: 25px;

}

.cbp-mc-submit-wrap {
  text-align: center;
}


input.cbp-mc-submit { /* SUBMIT BUTTON */
  background-color: #10689a;
  text-align: center;
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  font-size: 11px;
  max-width: 30%;
  text-transform: uppercase;
  padding: 20px 15px;

}
