body {
  background: #ffffff;
}

.page-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 3%;
}

header {
  width: 100%;
  border: 1px solid #000000;
  padding-bottom: 8%;
  margin-bottom: 2%;
}

.main {
  width: 100%;
  border: 1px solid #000000;
  list-style-type: none;

    ul li {
        width: 32%;
        list-style-type: none;
        display: inline-block;
        margin-top: 1%;
      }

}
