body {
  background: #ffffff;
  font-family: 'Lato';
}

.page-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 3%;
}

header {
  width: 100%;
  // outline: 1px solid #000000;
  padding-bottom: 2.5%;
  margin-bottom: 2%;
}

.main {
  width: 100%;
  list-style-type: none;

    ul li {
        width: 33%;
        list-style-type: none;
        display: inline-block;
        margin-top: 1%;
        text-align: center;
        float: left;

      }

}
