body {
  background: #ffffff;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 3%;
}

header {
  width: 100%;
  border: 1px solid #000000;
  padding-bottom: 8%;
  margin-bottom: 2%;
}

.main {
  width: 100%;
  border: 1px solid #000000;
  // padding-bottom: 80%;

    li {
      width: 32%;
      list-style-type: none;
      display: inline-block;
      margin-top: 1%;
    }

}
