header {
  display: block;
  font-family: 'Lato';
  color: #47a3da;
  line-height: 1;
  padding-left: 5%;

      &:after { //clears header for icons to float right and get height
      content: "";
      display: table;
      clear: both;
    }

      h1 {
        font-size: 24pt;
        padding-top: 0;
        line-weight: 100;
        float: left;
        margin-top: 1.5%;
      }

      h3 { //BLUEPRINT
        font-size: 12pt;
        letter-spacing: 6pt;
        text-transform: uppercase;
        margin: 0;

      }

      nav.icons {
        color: #47a3da !important;
        float: right;
        padding-right: 5%;
      }

}


li {
  text-align: center;
  position: relative;
  color: #47a3da;

      h2 {
        font-size: 23pt;
        font-weight: bold;
      }

      h4 {
        font-size: 12pt;
        text-transform: uppercase;
      }

      &:hover {
        background:#47a3da;
      }

      i { //IMAGES
        font-size: 30pt;
        padding-top: 15%;
      }

      hr.blue { //LINE
        display: block;
        border-top: 6px solid #47a3da;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        margin-bottom: 3%;
      }


}


a[href] { //LI LINKS
  text-decoration: none;

        &:link {
          text-decoration:  none;
          color: #999;
        }

        // &:hover {
        //   display: none;
        //   color: #47a3da;
        // }
        //
        // &:hover:before {
        //   color: #47a3da;
        // }

        &:visited {
          color: #999;
        }

        &:visited::before {
          display: none;

        }

        // &.active {
        //   text-decoration: none;
        //   color: #ffffff;
        //   background-color: #47a3da;
        // }

        hr.active { //LINE
          display: block;
          border-top: 6px solid #ffffff;
          width: 40%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20%;
          margin-bottom: 3%;
        }

}


li hr.active { //HIDES/ACTIVATES PANELS
  display: none;

      // &.active { //SHOWS ACTIVE PANEL
      //   display: inherit;
      //   background-color: #47a3da;
      //   padding-bottom: 10%;
      // }

}
