.grid {
  width: 100%;
}

.grid-row {
  width: 100%;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 1%; //NEED! gutters
  width: 33.33%;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

[class*='col-']:last-of-type {
  padding-right: 0;
  width: 33.33%;
  border-collapse: none;
}

.module { //height of each list
  // padding: 50%;
  background: #EEE;
}


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
