.grid {
  width: 100%;
}

.grid-row {
  width: 100%;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}


.module { //height of each list
  // padding: 50%;
  // background: #EEE;
}


*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
