@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {



  header {
    display: block;
    line-height: 1;
    text-align: center;
    // padding-left: 5%;


        h1 {
          font-size: 24pt;
          padding-top: 0;
          line-weight: 100;
          margin-top: 1.5%;
        }

        h3 { //BLUEPRINT
          font-size: 12pt;
          letter-spacing: 6pt;
          text-transform: uppercase;
          margin: 0;

        }

        nav.icons {
          color: #47a3da !important;
          padding-right: 5%;
          text-align: center;
        }

  }


  [class*='col-'] {
    float: left;
    padding-right: 1%; //NEED! gutters
    width: 50%;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  [class*='col-']:last-of-type {
    padding-right: 0;
    width: 50%;
    border-collapse: none;
  }

  .col-1-6 {
    border-left: none;
  }

  .col-3-6 {
    border-left: none;
  }

  .col-5-6 {
    border-left: none;
  }







}
