body {
  background: #ffffff;
  font-family: 'Lato';
}

.page-container {
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  margin-top: 3%;
}

header {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  // outline: 1px solid #000000;
  padding-bottom: 2.5%;
  margin-bottom: 2%;
}

nav.tabs {
  a[href] {
  display: inline-block;
  margin-left: 5%;
  margin-right: auto;
  border: 1px solid #000000;

  // width: 90%;
  }
}


.main {
  border-top: 3px solid #47a3da;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  background: #47a3da;
  
}


.tabContent {
    width: 100%;

        [class*="col-"], > * {
          background-color: #47a3da;
          float: left;
          margin-left: 5%;
          width: 100%;
          // margin-right: 5%;
        }

        .col-1, .col-2, .col-3, .col-4 {
          width: 20%;
        }


    .detail li {
          // width: 29%;
          list-style-type: none;
          display: inline-block;
          margin-top: 1%;
          display: block;
          overflow: auto;
          padding: 0px;
          color: #ffffff;
        }


}
