header {
  display: block;
  font-family: 'Lato';
  color: #47a3da;
  line-height: 1;

      h1 {
        font-size: 24pt;
        padding-top: 0;
        line-weight: 100;
      }

      h3 { //BLUEPRINT
        font-size: 12pt;
        letter-spacing: 6pt;
        text-transform: uppercase;
      }

      nav.icons {
        color: #47a3da !important;
        // display: inline-block;
        // position: relative;
        // float: right;
      }

}



a[href] { //TAB LINKS
  padding: 1% 2%;
  font-size: 11pt;
  font-weight:bold;
  text-decoration: none;

        &:link {
          text-decoration:  none;
          color: #999;
        }

        &:hover {
          display: none;
          color: #47a3da;
        }

        &:hover:before {
          color: #47a3da;
        }

        &:visited {
          color: #999;
        }

        &:visited::before {
          display: none;

        }

        &.active {
          text-decoration: none;
          color: #ffffff;
          background-color: #47a3da;
        }

}





h2 {
  font-weight: 100;
  color: #afdefa;
}


.panel { //HIDES/ACTIVATES PANELS
  display: none;

      &.active { //SHOWS ACTIVE PANEL
        display: inherit;
        background-color: #47a3da;
        padding-bottom: 10%;
      }

}
