@media screen
 and (min-device-width: 1200px)
 and (max-device-width: 1600px)
 and (-webkit-min-device-pixel-ratio: 2)
 and (min-resolution: 192dpi) {



 div.main { /*margin heading*/
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   display: block;
 }


header {
  color: #47a3da;
  text-align: left;

  h1 {
    margin-left: 5%;
    margin-top: 8px; }

  span:first-child { /*BLUE PRINT*/
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 5%; }

  nav { /*icons*/
    text-align: right;
    display: inline-block;
    float: right; }
}



time {
  display: inline-block;
  float: left;
  background: #ffffff;
  color: #3594cb;

  span:first-child { /*DATE SPAN*/
    color: #bdd0db; }

  span:last-child { /*TIME SPAN*/
    color: #6cbfee;
    font-size: 40px; }
}



div.cbp_tmlabel { /*BOXES*/
   color: #ffffff;
   padding: 20px;
   border-radius: 5px;
   margin-bottom: 15px;
   margin-left: 25%;
   background-color: #3594cb;



   /*.cbp_tmtimeline > li .cbp_tmlabel*/ h2 { /*TITLE LINE. BOXES DATES/TIMES*/
     border-bottom: 1px solid rgba(255,255,255,0.4);
     padding: 0 0 10px 0; }
}


 ul.cbp_tmtimeline  { /*FULL BOX WITH ALL TEXT*/
   float: right;
   display: block;
   vertical-align: top;
   width: 100%;
   color: #ffffff;
   padding: 10px;
   font-size: 20px;

   li:nth-child(odd) .cbp_tmlabel { /*CHANGES COLORS*/
     background-color: #6cbfee; }

   li {
     position: relative; }

   li span { /*BLOCK AND ALIGN TIME/DATE*/
     display: block;
     text-align: right;
     position: relative; }

  //  ::before { /*VERTICAL LINE*/
  //     content:'';
  //     background: #afdcf8;
  //     position: absolute;
  //     margin-left: 50%;
  //     width: 30px; }
 }

 .cbp_tmlabel::after, .cbp_tmlabel::before { /*ARROWS*/
  right: 100%;
  top: 9%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  left: 23.1%; }

 .cbp_tmlabel::after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #3594cb;
  border-width: 10px;
  margin-top: -10px; }

 .cbp_tmlabel::before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #3594cb;
  border-width: 10px;
  margin-top: -10px; }

 li:nth-child(odd) .cbp_tmlabel::after { /*CHANGES COLORS*/
   border-right-color: #6cbfee; }

 li:nth-child(odd) .cbp_tmlabel::before { /*END ARROWS*/
   border-right-color: #6cbfee; }


}


/* vertical line
  ul {
   border-left:
   left: %;
}
   li {
   maring-left: - %;
 }

 icons - amp website content: /""; */
