@media only screen and (min-device-width: 320px){
/* IPHONE 5 */

.body {
    max-width: 568px;
    min-width: 320px;
    content: " ";
    display: table;
    clear: both;
    margin: 0px;
    padding: 0px;
  }

header.clearfix {
    text-align: center;
    font-size: 20px;
}

header > nav { /*icons*/
  text-align: right;
  display: inline-block;
}

.main, .container > header {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

header > span {
  text-align: center;
  font-size: 17px;
}

.cbp_tmtimeline > li  { /*BLOCK AND ALIGN TIME/DATE*/
  display: block;
  text-align: left;
  position: relative;
}

time > span:first-child { /*DATE SPAN*/
  font-size: 14px;
}

time > span:last-child { /*TIME SPAN*/
  color: #6cbfee;
  font-size: 22px;
  padding-bottom: 20px;

}

div.cbp_tmlabel { /*BOXES*/
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 12px;
  padding-top: 5px;
}

}
.cbp_tmlabel::after, .cbp_tmlabel::before { /*ARROWS*/
	bottom: 90%;
	left: 17%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cbp_tmlabel::after {
	border-bottom-color: #3594cb;
	border-width: 10px;
	margin-left: -10px;
}
.cbp_tmlabel::before {
	border-bottom-color: #3594cb;
	border-width: 10px;
	margin-left: -10px;
}

/*li:nth-child(odd) .cbp_tmlabel::after {
  border-right-color: #6cbfee;
}
li:nth-child(odd) .cbp_tmlabel::before {
  border-right-color: #6cbfee;
}*/




}
