div.container {
  padding: 2.875em 1.875em 1.875em;
}


body {
  font-family: "Lato", sans-serif;
  display: block;
}

div.main { /*margin heading*/
  margin-left: auto;
  margin-right: auto;
}



header {
  color: #47a3da;

  h1 {
    text-align: left; }

  span:first-child { /*BLUE PRINT*/
    text-transform: uppercase;
    letter-spacing: 7px; }
}



time {

  .cbp_tmtimeline > li span { /*BLOCK AND ALIGN TIME/DATE*/
    display: block;
    position: relative; }

  time > span:first-child { /*DATE SPAN*/
    color: #bdd0db; }

  time > span:last-child { /*TIME SPAN*/
    color: #6cbfee;}

  time.cbp_tmtime { /*also boxes time and date? ALIGNED*/
    display: inline-block;
    background: #ffffff;
    color: #3594cb; }
}



div.cbp_tmlabel { /*BOXES*/
    color: #ffffff;
    border-radius: 5px;
    background-color: #3594cb;

  /*.cbp_tmtimeline > li .cbp_tmlabel*/ h2 { /*TITLE LINE. BOXES DATES/TIMES*/
    color: #ffffff;
    border-bottom: 1px solid rgba(255,255,255,0.4); }
}


ul.cbp_tmtimeline  { /*FULL BOX WITH ALL TEXT*/
  float: right;
  display: block;
  vertical-align: top;
  width: 100%;
  color: #ffffff;

  li:nth-child(odd) .cbp_tmlabel { /*CHANGES COLORS*/
    background-color: #6cbfee; }
}
